<section>
  <div>
    <input type="file" name="file" id="file" (change)="uploadImage($event)">
    <div [hidden]="!uploadPercent">
      <mat-progress-bar mode="determinate" value="{{uploadPercent | async}}" color="primary"></mat-progress-bar>
    </div>
    <div [hidden]="!image">
       <img [src]="image || '//:0'"> <!-- //:0 - fake data to prevent 404 error -->
    </div>
  </div>

  <mat-form-field>
    <input matInput placeholder="Country" [(ngModel)]="country">
  </mat-form-field><br>
  <mat-form-field>
    <input matInput placeholder="Short description" [(ngModel)]="infoShort">
  </mat-form-field>
  <br>
  <button mat-raised-button color="accent" (click)="createTour()" [disabled]="!country || !infoShort">Create Tour</button>
</section>
