<section>
  <div>
    <input type="file" name="file" id="file" (change)="uploadImage($event)">
    <div [hidden]="!uploadPercent">
      <mat-progress-bar mode="determinate" value="{{uploadPercent | async}}" color="primary"></mat-progress-bar>
    </div>
    <div [hidden]="!image">
      <img [src]="image || '//:0'">
      <!-- //:0 - fake data to prevent 404 error -->
    </div>
  </div>

  <mat-form-field>
    <input matInput placeholder="Країна" [(ngModel)]="country">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Місто" [(ngModel)]="city">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" [(ngModel)]="dateFrom" placeholder="Дата з:">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Опис" [(ngModel)]="infoShort">
  </mat-form-field>
  <br>
  <button mat-raised-button color="accent" (click)="createTour()" [disabled]="!country || !infoShort || !city">
    Додати тур
  </button>
</section>

<div class="container">
  <h1>Запити:</h1>
  <mat-card class="rqs-card" *ngFor="let requests of tourRqs | async">
    <mat-card-content>
      <h2>{{requests.email}}</h2>
      <h4>{{requests.phone}}</h4>
      <p>
        {{requests.description}}
      </p>
    </mat-card-content>
  </mat-card>
</div>