<section>
    <!-- <div>
        <mat-form-field>
          <input type="file" name="file" id="file" (change)="uploadImage($event)">
        </mat-form-field>
        <div [hidden]="!uploadPercent">
          <mat-progress-bar mode="determinate" value="{{uploadPercent | async}}" color="primary"></mat-progress-bar>
        </div>
        <div [hidden]="!image">
          <img [src]="image || '//:0'"> -->
          <!-- //:0 - fake data to prevent 404 error -->
        <!-- </div>
      </div> -->

  <form [formGroup]="addNewTourForm">
    <h1>Додати тур:</h1>

    <mat-form-field>
      <input matInput type="text" placeholder="Країна" formControlName="country">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="Місто" formControlName="city">
    </mat-form-field>
    
    <mat-form-field class="short-input">
      <input matInput [matDatepicker]="picker" placeholder="Дата з:" formControlName="dateFrom">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="short-input">
      <input matInput type="number" placeholder="Кількість днів" formControlName="days">
    </mat-form-field>

    <mat-form-field class="short-input">
      <input matInput type="text" placeholder="Тип харчування" formControlName="foodType">
    </mat-form-field>

    <mat-form-field class="short-input">
      <input matInput type="number" placeholder="Дорослих" formControlName="persons">
    </mat-form-field>

    <mat-form-field class="short-input">
      <input matInput type="number" placeholder="Дітей" formControlName="children">
    </mat-form-field>

    <mat-form-field class="short-input">
      <input matInput type="number" placeholder="Ціна" formControlName="price">
    </mat-form-field>
    
    <mat-form-field>
      <textarea matInput placeholder="Інфо" formControlName="info"></textarea>
    </mat-form-field>

    <div>
      <button mat-raised-button color="accent" [disabled]="!addNewTourForm.valid" (click)='createTour()'>Створити</button>
    </div>
  </form>



  <!-- <mat-form-field>
    <input matInput placeholder="Країна" [(ngModel)]="country">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Місто" [(ngModel)]="city">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" [(ngModel)]="dateFrom" placeholder="Дата з:">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Опис" [(ngModel)]="infoShort">
  </mat-form-field>
  <br>
  <button mat-raised-button color="accent" (click)="createTour()" [disabled]="!country || !infoShort || !city">
    Додати тур
  </button> -->
</section>

<div class="container">
  <h1>Запити:</h1>
  <mat-card class="rqs-card" *ngFor="let requests of tourRqs | async">
    <mat-card-content>
      {{ requests.requested.toDate() | date: "dd.MM.y" }}
      <h2>Ім'я: {{requests.name}}</h2>
      <h3>Мейл: {{requests.email}}</h3>
      <h4>Номер тел: {{requests.phone}}</h4>
      Коментар:
      <p>
        {{requests.comment}}
      </p>
    </mat-card-content>
  </mat-card>
</div>