@import '../../variables';

.view {
    height: calc(100vh - 56px);
    background: $light-gray url('/assets/main-banner.jpg') center;
    background-size: cover;
}

.main-banner {
    flex-direction: column;
}

.wrapper {
    margin-top: -50px;
}

.tour-card {
    max-width: 900px;
    margin: 2em auto;
    position: relative;
    border: 2px solid $white;

    .edit-button {
        position: absolute;
        left: 20px;
        bottom: 5px;
    }

    .mat-card-image {
        background-color: $light-gray;
    }

    .mat-card-content {
        text-align: center;
    }

    .overal-info {
        display: flex;
        justify-content: space-around;
        color: $accent;
    }

    .tour-info {
        margin: 20px 0;
    }
}
