<div class="view">
    <div class="mask flex-center main-banner">
        <img src="/assets/logo_full_white.png" alt="logo" class="logo">
        <br>
        <h1 class="white-text">Найгарячіші тури тут!</h1>
        <br>
        <img class="animated bounce infinite" src="assets/down-arrow.png" width="50px">
    </div>
</div>
<div class="wrapper">
  <mat-card class="tour-card" *ngFor="let tour of tours | async">
    <img mat-card-image [src]="tour.image" alt="{{tour.country +', '+ tour.city }}">
    <mat-card-content>
      <h2>{{tour.country +", "+ tour.city }}</h2>
      <h4>{{tour.dateFrom.toDate() | date: "dd.MM.y"}}</h4>
      <p>
        {{tour.infoShort}}
      </p>
    </mat-card-content>
    <mat-card-actions align="center">
      <button mat-raised-button color="accent" (click)="openContactFormDialog()">Замовити тур</button>
      <button *ngIf="auth.afAuth.authState && auth.currentUserId === tour.authorId" mat-icon-button routerLink="{{tour.id}}" class="edit-button">
          <mat-icon>edit</mat-icon>
        </button>
    </mat-card-actions>

  </mat-card>
</div>
