@import '../../variables';

.contact-form-wrap {
    position: relative;
    width: 100%;
    height: 100%;
}

.successfuly-sended {
    background-color: $white;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}